@use "../base/variables";
@use "../mixins/triangle-point";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */

// Roll Up Menu
// ----------------------------------------

#roll-up-menu {
    float: left;
    width: 80px;
    background: variables.$white;
    border: variables.$thin-border-stroke #c3cbd0;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 1px;
    left: -1px;
    margin-top: 42px;


    // Show menu
    opacity: 1;

    #nav-container {
        display: block;
        margin-top: -1px;
        padding-top: 1px;
    }

    // Nav icons.
    a {
        $height: 60px;

        width: 80px;
        height: $height;
        line-height: $height;
        margin: 0 auto;
        text-align: center;
        display: block;

        > .main-nav-icon {
            height: 100%;
            font-size: 29px;
            vertical-align: middle;
            transition: all .2s;
            color: #818181;
        }

        &:hover > .main-nav-icon,
        &:active > .main-nav-icon {
            color: variables.$d-blue;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            80% {
                opacity: 0;
            }
            100% {
                opacity: 0.9;
            }
        }
    }
}

.roll-up-menu-active {
    $size: 8px;
    $position-from-left: 4.75px;
    @include triangle-point.triangle-point-side(left, $size, $size, $position-from-left, variables.$color-gray, 1px, variables.$modal-nav-border-color, -8px);
}
