@use "../base/variables";

.popover {
    position: absolute;
    width: 250px;
    background: variables.$table-highlight;
    border-radius: variables.$main-border-radius;
    border: variables.$thin-border-stroke variables.$main-border-color;
    z-index: 1;
}

.popover__header {
    background: variables.$main-border-color;
    height: 26px;
    position: relative;
}

.popover__content {
    padding: 10px;
}

.popover__list-item {
    background-position-y: center;
    margin: 6px 0;
    padding-left: 30px;
    line-height: 22px;
    background-repeat: no-repeat;
    display: block;

    > span {
        vertical-align: top;
    }

    .play-circle-icon {
        color: variables.$primary-color-green;
        font-size: 20px;
    }
}
