.video-player {
  width: 100%;
  margin: 0 auto;
  background: #1e1e1e;
  text-align: center;
  border-radius: 4px 4px 0 0;

  video {
      max-height: 350px;
      max-width: 100%;
      height: auto;
  }
}
