@use "sass:color";
@use "../../base/variables";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


#edit-table-view-modal {

    .modal-content {

        .row {
            margin: 15px 0;
        }

        .tab-description {
            padding: 10px 0;
            color: variables.$medium-prim-color;
            font-size: 12px;
            line-height: 20px;
            width: 100%;
            margin-bottom: 0;

        &.for-header {
            padding-top: 0;
        }

        &.for-footer {
            padding-bottom: 0;
            margin-bottom: -5px;
        }

            p:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        // Fix for Half Pixel Rounding Chrome
        .col {
            width: 48.72%;
        }
    }
}

.drag-drop-items {
    box-sizing: border-box;
    padding: 15px 10px;

    .drag-item {
        user-select: none;
        height: 35px;
        width: 100%;
        border-radius: variables.$main-border-radius;
        cursor: move;
        border: variables.$thin-border-stroke variables.$main-border-color;
        background: linear-gradient(to bottom, variables.$white, #f3f5f6);
        color: color.adjust(variables.$grey, $lightness: -10%);
        font-weight: 600;
        text-shadow: 0px 1px 0px variables.$white;
        font-size: 13px;
        position: relative;
        margin: 10px 0;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        transition: box-shadow .3s ease-in-out;

        // Begin transitioning to flexbox
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        padding-left: 5px;

        &:hover {
            background: linear-gradient(to bottom, variables.$white, color.adjust(#f3f5f6, $lightness: -2%));
        }

        &:active,
        &.being-dragged {
            background: linear-gradient(to bottom, color.adjust(variables.$white, $lightness: -2%), color.adjust(#f3f5f6, $lightness: -3%));
            cursor: move;
            border: variables.$thin-border-stroke color.adjust(variables.$main-border-color, $lightness: -5%);
            box-shadow: 0 0 4px rgba(0,0,0,0.1);
        }

        // Item Move Buttons

        .move-item {
            height: 17px;
            width: 17px;
            position: absolute;
            top: 9px;
            right: 10px;
            padding: 0;

            &.add {
                color: variables.$green;
                > svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &.remove {
                color: variables.$red;
                > svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
