@use "../../base/variables";
@use "../../components/alerts";
@use "../../mixins/button";
@use "../../components/modals/_modal-base";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.modal {
    &#details-modal {

        // Modal Size
        @extend .large-modal;

        .more-info-actions {

            ul {
                padding: variables.$modal-container-padding;
                font-size: 12px;

                li {
                    border: none;
                }

                button {
                    float: right;
                }
            }
        }

        .scheduling-conflict {
          @include alerts.alert-variant(variables.$state-danger-bg, variables.$state-danger-border, variables.$state-danger-text);
          margin-bottom: 15px;
        }
    }
}

.tobira-page-separator {
    color: variables.$color-gray;
}

.tobira-leaf-page {
    font-size: larger;
    font-weight: variables.$weight-bold;
}

.tobira-not-mounted {
    font-style: italic;
}

.tobira-copy-direct-link {
    margin-left: 6px;
    @include button.btn(white);
    i {
        margin: 0;
    }
}
