@use "sass:color";
@use "../../base/variables";
@use "../../mixins/button";
@use "../../mixins/mixins-config";

/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Modal sizes
// ----------------------------------------

.extra-small-modal {
    width: 400px;
    margin-left: -200px;
}

.small-modal {
    width: 600px;
    margin-left: -300px;
}

.medium-modal {
    width: variables.$modal-width;
    margin-left: -(variables.$modal-width * 0.5);
}

.large-modal {
    width: 1000px;
    margin-left: -500px;
}


// Main Modal Properties
// ----------------------------------------

.modal {
    z-index: (variables.$max-z + 2);
    width: variables.$modal-width;
    height: auto;
    max-height: 90vh;
    overflow: auto;

    // Center box
    top: 30px;
    position: fixed;
    left: 50%;
    margin-left: -(variables.$modal-width * 0.5);
    background: variables.$body-background;
    border-radius: variables.$main-border-radius;
    box-shadow: 0 0 20px 2px rgba(variables.$black, 0.3);

    input[readonly] {
        border: none;
    }
    &#group-modal, &#add-acl-modal, &#user-modal {
        input[type="text"], input[type="password"], [type="email"] {
        width: 100%;
        padding-left: 15px;
        }
    }
    .select-container > p {
        margin-bottom: 10px;
    }

    h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .single-value {
        display: flex;
        justify-content: space-between;

        .single-value-right {
            display: flex;
            justify-content: flex-end;
        }
    }

    .checkmark {
        float: right;
        cursor: pointer;
    }

    .pen {
        float: right;
        cursor: pointer;
        margin: 5px;
        font-size: 14px;
    }

    // When not focused, make it look like a span
    .single-value:not(:focus){
        background-color: transparent;
        padding: 0px;
        border: initial;
        font: inherit;
        margin: 0px;

        width: auto;
    }
    .single-value:focus{
        width: 98%;
    }

    .single-value-textarea:not(:focus){
        background-color: transparent;
        padding: 0px;
        border: initial;
        font: inherit;
        margin: 0px;
        resize: none;
        overflow: hidden;

        width: auto;
    }
    .single-value-textarea:focus{
        resize: vertical;

        width: 98%;
    }

    .datepicker-custom-input:not(:focus) {
        background: transparent;
        padding: 0px;
        border: initial;
        font: inherit;
        margin: 0px;
        &:hover {
        border: initial;
        }
    }

    .editable {
        word-wrap: anywhere;
    }
}

.modal-animation {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}


// Modal Overlay
// ----------------------------------------

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: variables.$max-z + 1;
    background-color: rgba(variables.$black, 0.2);
    background-image: radial-gradient(rgba(variables.$black, 0.2), rgba(variables.$black, 0.4));
}


// Modal Layout
// ----------------------------------------

.modal-body {
    padding: 3%;
}

.modal {
    .modal-content {
        display: block;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;

        .tab-description {
            color: variables.$medium-prim-color;
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 10px;
            width: 97%;
        }

        // Modal obj header
        header {
            $height: 35px;
            box-sizing: border-box;
            height: $height;
            line-height: $height;
            background: linear-gradient(to bottom, variables.$white, #f3f5f6);
            border-bottom: 1px solid variables.$main-border-color;
            border-top-left-radius: variables.$main-border-radius;
            border-top-right-radius: variables.$main-border-radius;
            margin: 0;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            color: color.adjust(variables.$grey, $lightness: -10%);
            font-weight: 600;
            text-shadow: 0 1px 0 variables.$white;
            font-size: 13px;
            user-select: none;
            position: static;
        }

        p {
            color: variables.$color-darkgray;
            margin-bottom: 0.3em;
        }
    }

    // Modal Columns
    .col {
        width: 48.78%;
        display: inline-block;
        vertical-align: top;

        &:not(:first-child) {
            margin-left: 1%;
        }

        &:not(:last-child) {
            margin-right: 1%;
        }

        // Remove bottom margin on last object
        &:last-child {
            margin-bottom: 0;
        }
    }

    // Full col

    .full-col {
        width: 100%;

        .obj {
            width: variables.$modal-full-col-width;

            > header {
                width: (variables.$modal-full-col-width);
            }
        }

        .tbl-container {
            width: variables.$modal-full-col-width;

            .obj-container .table-series .wrapper {

                padding: 1% 2%;

                &:first-child {
                    padding-top: 2%;
                }

                &:last-child {
                    padding-bottom: 2%;
                }

                header {
                    border: variables.$thin-border-stroke variables.$main-border-color;
                }

                .main-tbl {
                    border: variables.$thin-border-stroke variables.$main-border-color;
                    border-top: none;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }
}


// Object Styles
// --------------------------------------------------

.modal {

    // Just some text to loosen up the strict "tables-within-boxes" layout
    .hint {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        font-size: 11px;
        line-height: 18px;
    }

    // Object within columns
    .obj {
        box-sizing: border-box;
        background: variables.$white;
        border-radius: variables.$main-border-radius;
        border: variables.$thin-border-stroke variables.$main-border-color;
        color: variables.$medium-prim-color;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        table {
            border: none;
            padding-left: 0;

            &.main-tbl.top-tbl {
                border-bottom: 1px solid variables.$main-border-color;
                border-radius: 0;
            }

            td {
                line-height: 25px !important;
                padding-top: 4px;
                padding-bottom: 4px;

                > a {
                    float: none;
                    margin: 0;
                }

                a.external-link {
                    float: right;
                }

                .circle {
                    margin-top: 7px;
                }
            }
        }

        // Main container
        .obj-container {
            height: auto;
            opacity: 1;

            > p,
            pre {
                font-size: 11px;
                color: variables.$medium-prim-color;
                line-height: 18px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 8px;
                }
            }

            .desc {
                margin: 0 auto;
                padding: 20px 15px;

                &.no-border {
                    border-bottom: none;
                }
            }

            h3.section-heading {
                color: variables.$dark-prim-color;
                padding: 10px 20px 5px;
                border-bottom: 1px solid variables.$main-border-color;
            }

            h4 {
                color: variables.$dark-prim-color;
                font-size: 14px;
                margin-bottom: 8px;

                &:not(:first-child) {
                    margin-top: 15px;
                }
            }

            > ul {

                span {
                    font-weight: 600;
                    font-size: 13px;
                }

                > li {
                    line-height: 23px;
                    border-bottom: 1px solid color.adjust(variables.$main-border-color, $lightness: 10%);
                    padding: 10px 0;

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }

            }

            &.padded {
                padding: 20px;
            }
        }
    }

    .header-description {
        padding: 10px;
        line-height: 20px;
    }
}

// Optional sideways navigation
// ---------------------------------------------
.modal {
    > div nav {
        border-bottom: 1px solid variables.$modal-nav-border-color;
        line-height: 35px;
        padding-left: 15px;

        .active {
            padding: 14px 5px;
            min-width: 100px;
            color: variables.$header-link-color;
            font-weight: 600;
        }

        .inactive {
            padding: 14px 5px;
            min-width: 100px;
            color: variables.$modal-nav-link-color;
        }
    }
}

// Miscellaneous
// --------------------------------------------------
.loading {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 30px;
}
